/***************************************************************************
	can23_ocp.dtsi	-	Device Tree source
    -------------------
    author		: a.smirnov 
    email		: asmirnov.cs.niisi.ras.ru 

 ***************************************************************************/

// IT IS ONLY EXAMPLE!

/ {

	/* ...
	.... */

	can_clk: can_clk{
		compatible = "";
		clock-frequence = <10000>;

		/* ...
		.... */
	}

	/* ...
	.... */

}

	